.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 解压后的jdk、node目录
jdk-17.0.2/
node-v18.20.7-win-x64/

# 安装包压缩文件
jdk17.zip
maven.zip
node.zip

# 所有zip安装包
*.zip